<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-WTFXE2FH7D"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-WTFXE2FH7D");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

      body {
        font-family: "Open Sans", sans-serif;
      }

      .search {
        top: 6px;
        left: 10px;
      }

      .form-control {
        border: none;
        padding-left: 32px;
      }

      .form-control:focus {
        border: none;
        box-shadow: none;
      }

      .green {
        color: green;
      }

      /* Add a black background color to the top navigation */
      .topnav {
        background-color: rgb(62, 62, 62);
        overflow: hidden;
        margin-bottom: 25px;
        display: flex;
        background-color: rgb(62, 62, 62);
        overflow: hidden;
        margin-bottom: 25px;
        align-items: center;
        justify-content: space-between;
      }
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #04aa6d;
        color: white;
      }
      th,
      td {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
      <div>
        <div class="topnav">
          <div>
            <a class="active" href="/">Yo</a>
            <a href="/contact">Contact</a>
            <a href="/contact-list">Lista de contactos</a>
          </div>
          <div>
            <% if(logged){ %>
            <a href="/api/logout">Cerrar Sesion</a>

            <% } else{ %>
            <a href="/login">Iniciar Sesion</a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="container mt-5 px-2">
        <div class="table-responsive">
          <table class="table table-responsive table-borderless">
            <thead>
              <tr class="bg-light">
                <th scope="col" width="10%">Nombre</th>
                <th scope="col" width="10%">Apellido</th>
                <th scope="col" width="10%">Email</th>
                <th scope="col" width="10%">Telefono</th>
                <th scope="col" width="10%">Ip</th>
                <th scope="col" width="10%">Geolocalizacion</th>
                <th scope="col" width="30%">Mensaje</th>
              </tr>
            </thead>

            <tbody>
              <% forms.forEach(form=> { %>
              <tr>
                <td>
                  <img src="https://i.imgur.com/VKOeFyS.png" width="25" />
                  <%= form.name %>
                </td>
                <td><%= form.lastname %></td>
                <td><%= form.email %></td>
                <td><%= form.phone %></td>
                <td><%= form.ip %></td>
                <td>
                  <%= form.geolocalization.country %>/ <%=
                  form.geolocalization.region %>/ <%= form.geolocalization.city
                  %>
                </td>
                <td><%= form.description %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
